<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunland.wzjj.dao.acl.IAclUserDao">
    <resultMap id="ResultMap" type="AclUser">
        <result property="yhdm" column="yhdm"/>
        <result property="xm" column="xm"/>
        <result property="bmdm" column="bmdm"/>
        <result property="sfzmhm" column="sfzmhm"/>
        <result property="mm" column="mm"/>
        <result property="qsip" column="qsip"/>
        <result property="zzip" column="zzip"/>
        <result property="sfmj" column="sfmj"/>
        <result property="ssmj" column="ssmj"/>
        <result property="sfbd" column="sfbd"/>
        <result property="zt" column="zt"/>
        <result property="gxsj" column="gxsj"/>
    </resultMap>

    <select id="getUserInfoByYhdm" resultMap="ResultMap">
        <![CDATA[
            select * from acl_user where yhdm=#{yhdm,jdbcType=VARCHAR}
        ]]>
    </select>

</mapper>